name: Integration Test

on:
  issue_comment:
    types: [created]

jobs:
  integration_test_linux:
    name: integration-linux-cp${{ matrix.python-version }}
    if: ${{ github.event.issue.pull_request && contains(github.event.comment.body, 'please run integration') }}
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        python-version: [ "3.9", "3.11"]

    steps:
      - name: Get branch
        uses: xt0rted/pull-request-comment-branch@v2
        id: comment-branch

      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ steps.comment-branch.outputs.head_ref }}

      - name: Cache dependency binaries
        id: cache-bin
        uses: actions/cache@v3
        with:
          key: bin
          path: |
            ~/.local/bin
            ~/.cache/pip

      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version}}

      - name: Install test dependencies
        run: |
          export BIN=~/.local/bin

          pip install pytest

          mkdir -p $BIN
          cd /tmp

          if [[ ! -f $BIN/greedy ]]; then
              curl -o greedy.tgz -L https://sourceforge.net/projects/greedy-reg/files/Nightly/greedy-nightly-Linux-gcc64.tar.gz
              tar xf greedy.tgz
              cp greedy*/bin/greedy $BIN/greedy
          fi

          if [[ ! -f $BIN/c3d ]]; then
              curl -o c3d.tgz -L https://sourceforge.net/projects/c3d/files/c3d/Nightly/c3d-nightly-Linux-gcc64.tar.gz
              tar xf c3d.tgz
              cp c3d*/bin/c3d $BIN/c3d
          fi

      - name: Install package
        run: |
          pip install -e .

      - name: Download models
        run: |
          pyalfe download models

      - name: Run tests
        run: |
          pytest tests/integration
